body {
  background-color: #241e4e;
  padding: 0;
  margin: 0;
}

.container {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



.cover {
  background-color: rgba(255, 255, 255, 0.2);
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: relative;
  bottom: 65px;
  overflow: hidden;
<<<<<<< HEAD
  box-shadow: inset 0px 0px 10px 6px rgba(255, 255, 255, 0.888), inset px 0px 23px 12px rgba(255, 255, 255, 0.433);
=======
  box-shadow: inset 0px 0px 10px 6px rgba(255, 255, 255, 0.888), inset 0px 0px 23px 12px rgba(255, 255, 255, 0.433);
>>>>>>> main
}

.bottom {
  background-color: #c1272e;
  height: 70px;
  width: 260px;
  position: relative;
  bottom: 100px;
  left: 47px;
}

.bt1,
.bt2 {
  background-color: #d33c3c;
  height: 20px;
  width: 280px;
  position: relative;
  right: 10px;
  border-radius: 10px;
}

.bt1 {
  bottom: 12px;
}

.bt2 {
  top: 40px;
}

/* artal code */
.bola {
  background-color: rgb(253, 253, 253);
  width: 5px;
  height: 5px;
  top: -27%;
  border-radius: 100%;
  position: absolute;
  animation: snowing 5s ease-in-out infinite, mooving 9s linear infinite;
}

@keyframes snowing {
  0% {
    transform: rotate(20deg) translateX(80px) rotate(-20deg);
  }

  50% {
    transform: rotate(160deg) translateX(80px) rotate(-160deg);
  }

  100% {
    transform: rotate(20deg) translateX(80px) rotate(-20deg);
  }
}

@keyframes mooving {
  from {
    top: -27%;
  }

  to {
    top: 100%;
  }
}