:root{
  --doorH: 30px;
  --doorW: calc(var(--doorH) / 2);
  --doorLeftBorder: 180px;
  --doorTopBorder: 185px;
  --fenceWidth: 1.8px;
  --fenceHeight: calc(var(--fenceWidth) * 10);
}

body {
  background-color: #241e4e;
  padding: 0;
  margin: 0;
}

.container {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fenceBar{
  width: var(--fenceWidth);
  height: var(--fenceHeight);
  left: calc(var(--fenceWidth)*2);
  background-color: gray;
  position: absolute;
  
}

.fenceBar2{
  left: calc(var(--fenceWidth)*5);
}

.fenceBar3{
  left: calc(var(--fenceWidth)*8);
}
.fenceBar4{
  left: calc(var(--fenceWidth)*11);
}

.fenceUpper{
  height: var(--fenceWidth);
  width: calc(var(--fenceHeight)*1.4);
  background-color: gray;
  border-radius: 2px;
}

.fenceBar5{

  margin-top: var(--fenceHeight);
}

.fenceCont{
  position: absolute;
  bottom: 140px;
  left:80px;
}



.cover {
  background-color: rgba(255, 255, 255, 0.2);
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  bottom: 65px;
  overflow: hidden;
  box-shadow: inset 0px 0px 10px 6px rgba(255, 255, 255, 0.888), inset 0px 0px 23px 12px rgba(255, 255, 255, 0.433);
}


.door{
  display: flex;
  height: var(--doorH);
  width: var(--doorW);
  background-color: grey;
  position: absolute;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.snowyFloor{
  height: 50px;
  width: 210px;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  bottom: 85px;
  left: 70px;
}



.bottom {
  background-color: #c1272e;
  height: 70px;
  width: 260px;
  position: absolute;
  bottom: 30px;
  left: 47px;
  z-index: 2;
}

.bt1,
.bt2 {
  background-color: #d33c3c;
  height: 20px;
  width: 280px;
  position: relative;
  right: 10px;
  border-radius: 10px;
}

.bt1 {
  bottom: 12px;
}

.bt2 {
  top: 40px;
}

/* artal code */
.bola {
  background-color: rgb(253, 253, 253);
  width: 5px;
  height: 5px;
  top: -27%;
  border-radius: 100%;
  position: absolute;
  animation: snowing 5s ease-in-out infinite, mooving 9s linear infinite;
}



:root{
  --doorH: 30px;
  --doorW: calc(var(--doorH) / 2);
  --doorLeftBorder: 180px;
  --doorTopBorder: 185px;
  --fenceWidth: 1.8px;
  --fenceHeight: calc(var(--fenceWidth) * 10);
}

line{
  position: absolute;
  background-color: white;
  width: 0.3px;
  height:14px;
}



#rectangle1
{
  position: absolute;
  top: 32px;
  left: 38px;
  background-color: rgb(170, 168, 168);
  width: 23px;
  height:64px;
}

body {
  background-color: #241e4e;
  padding: 0;
  margin: 0;
}


#rectangle2
{
  position: absolute;
  top: 55px;
  left: 60px;
  background-color: rgb(170, 168, 168);
  width: 30px;
  height:40px;

}

#base
{
  position: absolute;
  top: 94px;
  left: 34.5px;
  background-color: grey;
  width: 59.5px;
  height:3px;

}

#base2
{
  position: absolute;
  top: 70px;
  left: 17px;
  background-color: grey;
  width: 20px;
  height:3px;

}

#base3
{
  position: absolute;
  top: 52px;
  left: 60px;
  background-color: grey;
  width: 34px;
  height:3px;
}

#side1
{
  position: absolute;
  top: 32px;
  left: 36.55px;
  background-color: grey;
  width: 1.5px;
  height:64px;
}
.container {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

#side2
{
  position: absolute;
  top: 32px;
  left: 59.9px;
  background-color: grey;
  width: 1.5px;
  height:64px;
}
.fenceBar{
  width: var(--fenceWidth);
  height: var(--fenceHeight);
  left: calc(var(--fenceWidth)*2);
  background-color: gray;
  position: absolute;
  
}

.fenceBar2{
  left: calc(var(--fenceWidth)*5);
}


#side3
{
  position: absolute;
  top: 70px;
  left: 18px;
  background-color: grey;
  width: 1.5px;
  height:27px;

}

#side4
{
  position: absolute;
  top: 55px;
  right: 8.5px;
  background-color: grey;
  width: 1.5px;
  height:40px;

}

#b1
{
  position: absolute;
  top: 28px;
  left: 36.55px;
  background-color: grey;
  width: 24.85px;
  height:4px;

}
.fenceBar3{
  left: calc(var(--fenceWidth)*8);

}
.fenceBar4{
  left: calc(var(--fenceWidth)*11);
}

svg{
  position: absolute;
  top: 78.6px;
  width: 22px;
  left: 38px;
}

svg1{
  position: absolute;
  top: 78.6px;
  width: 22px;
  left: 40px;
}


#b2
{
  position: absolute;
  top: 25px;
  left: 34.5px;
  background-color: grey;
  width: 29px;
  height:3px;
}
.fenceUpper{
  height: var(--fenceWidth);
  width: calc(var(--fenceHeight)*1.4);
  background-color: gray;
  border-radius: 2px;

}

#window1
{
  position: absolute;
  top: 35.25px;
  left: 41.3px;
  background-color: #14afab;
  border: 5px solid rgb(88, 88, 88);
  width: 5px;
  height:14px;
}
.fenceBar5{

  margin-top: var(--fenceHeight);
}

#b1w1{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 35.8px;
  left: 41.58px;
  z-index: 1;
}

#b2w1{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 40px;
  left: 41.58px;
  z-index: 1;
}

#b3w1{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 44.5px;
  left: 41.58px;
  z-index: 1;
}
.fenceCont{
  position: absolute;
  bottom: 140px;
  left:80px;
}


#window2
{
  position: absolute;
  top: 35.25px;
  left: 50.45px;
  background-color: #14afab;
  border: 5px solid rgb(88, 88, 88);
  width: 5px;
  height:14px;
}

#b1w2{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 35.7px;
  left: 50.75px;
  z-index: 1;
}

#b2w2{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 40px;
  left: 50.75px;
  z-index: 1;
}

#b3w2{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 44.5px;
  left: 50.75px;
  z-index: 1;
}
.cover {
  background-color: rgba(255, 255, 255, 0.2);
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  bottom: 65px;
  overflow: hidden;
  box-shadow: inset 0px 0px 10px 6px rgba(255, 255, 255, 0.888), inset 0px 0px 23px 12px rgba(255, 255, 255, 0.433);
}


#window3
{
  position: absolute;
  top: 56.7px;
  left: 41.3px;
  background-color: #14afab;
  border: 5px solid rgb(88, 88, 88);
  width: 5px;
  height:14px;
}
.door{
  display: flex;
  height: var(--doorH);
  width: var(--doorW);
  background-color: grey;
  position: absolute;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#b1w3{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 57.2px;
  left: 41.58px;
  z-index: 1;
}

.door1{
  left: var(--doorLeftBorder) ;
  top: var(--doorTopBorder);
}
.door2{
  left: calc(var(--doorLeftBorder) + var(--doorW));
  top: var(--doorTopBorder);
}
.door3{
  left: calc(var(--doorLeftBorder) + (var(--doorW) * 3));
  top: var(--doorTopBorder);
}

#b2w3{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 61.4px;
  left: 41.58px;
  z-index: 1;
}
.overdoor{
  height: calc(var(--doorH) / 8);
  width: calc(var(--doorW)*4);
  background-color: grey;
  position: absolute;
  left: var(--doorLeftBorder);
  top: calc(var(--doorTopBorder) - (var(--doorH) / 8));
}

#b3w3{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 65.6px;
  left: 41.58px;
  z-index: 1;
}

.cristal {
  height: calc(var(--doorH) / 7);
  width: calc(var(--doorH) / 7);
  background-color: aqua;
  margin: calc(var(--doorH) / 24);
  box-shadow: inset 0.5px 0.5px 1px 0.5px rgb(50, 50, 50);
}

#window4
{
  position: absolute;
  top: 56.7px;
  left: 50.45px;
  background-color: #14afab;
  border: 5px solid rgb(88, 88, 88);
  width: 5px;
  height:14px;
}

#b1w4{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 57.2px;
  left: 50.75px;
  z-index: 1;
}
.bt1,
.bt2 {
  background-color: #d33c3c;
  height: 20px;
  width: 280px;
  position: relative;
  right: 10px;
  border-radius: 10px;
}

#b2w4{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 61.4px;
  left: 50.75px;
  z-index: 1;
}

#b3w4{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 65.6px;
  left: 50.75px;
  z-index: 1;
}

#window5
{
  position: absolute;
  top: 56.7px;
  left: 65.45px;
  background-color: #14afab;
  border: 5px solid rgb(88, 88, 88);
  width: 5px;
  height:14px;
}

#b1w5{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 57.2px;
  left: 65.75px;
  z-index: 1;
}

#b2w5{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 61.4px;
  left: 65.75px;
  z-index: 1;
}

#b3w5{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 65.6px;
  left: 65.75px;
  z-index: 1;
}

#window6
{
  position: absolute;
  top: 56.7px;
  left: 75.45px;
  background-color: #14afab;
  border: 5px solid rgb(88, 88, 88);
  width: 5px;
  height:14px;
}

#b1w6{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 57.2px;
  left: 75.75px;
  z-index: 1;
}

#b2w6{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 61.4px;
  left: 75.75px;
  z-index: 1;
}

#b3w6{
  position:absolute;
  background-color: black;
  width: 5px;
  height: 2px;
  top: 65.6px;
  left: 75.75px;
  z-index: 1;
}


#s1
{
  position: absolute;
  background-color: #97dbda;
  clip-path: polygon(30% 0, 100% 0 , 0 75%, 0 25%);
  top: 36px;
  left: 41.55px;
  width: 5px;
  height:14px;
}

.bt1 {
  bottom: 12px;

}

#s2
{
  position: absolute;
  background-color: #97dbda;
  clip-path: polygon(30% 0, 100% 0 , 0 75%, 0 25%);
  top: 36px;
  left: 50.8px;
  width: 5px;
  height:14px;
}
.bt2 {
  top: 40px;
}

#s3
{
  position: absolute;
  background-color: #97dbda;
  clip-path: polygon(30% 0, 100% 0 , 0 75%, 0 25%);
  top: 57.3px;
  left: 41.6px;
  width: 5px;
  height:14px;
}

#s4
{
  position: absolute;
  background-color: #97dbda;
  clip-path: polygon(30% 0, 100% 0 , 0 75%, 0 25%);
  top: 57.3px;
  left: 50.8px;
  width: 5px;
  height:14px;
}

#s5
{
  position: absolute;
  background-color: #97dbda;
  clip-path: polygon(30% 0, 100% 0 , 0 75%, 0 25%);
  top: 57.3px;
  left: 65.8px;
  width: 5px;
  height:14px;
}

#s6
{
  position: absolute;
  background-color: #97dbda;
  clip-path: polygon(30% 0, 100% 0 , 0 75%, 0 25%);
  top: 57.3px;
  left: 75.75px;
  width: 5px;
  height:14px;
}


@keyframes snowing {
  0% {
    transform: rotate(20deg) translateX(80px) rotate(-20deg);
  }

  50% {
    transform: rotate(160deg) translateX(80px) rotate(-160deg);
  }

  100% {
    transform: rotate(20deg) translateX(80px) rotate(-20deg);
  }
}

@keyframes mooving {
  from {
    top: -27%;
  }

  to {
    top: 100%;
  }
}
